[2020-11-25 13:26] avanc opened #1 "Create documentation"

[2020-11-25 13:26] avanc opened #2 "Don't run everything as root"

[2020-11-25 13:26] avanc opened #3 "Add cron job"

[2020-11-25 13:26] avanc opened #4 "Shuffle images"

[2020-11-26 10:08] avanc commented on #3
Fixed cronjob for sycning a a cron job for switching display on/off

[2020-11-26 12:34] avanc commented on #1
Solved with 8c17c60e7c88f9d4902b662743757d021c198fab

[2020-11-26 12:34] #1 closed

[2020-11-30 07:27] avanc opened #5 "Status report via images"
If something is not working properly, the user should be informed:
* No images in photo folder
* Syncing fails

[2020-11-30 10:00] #4 closed

[2020-11-30 13:50] avanc commented on #5
Solved with 998b3ede8569dd43f86f10960b44b065e7359739 and 13f3679b627ebd3382e05afe9cb10c75b8852507

[2020-11-30 13:50] #5 closed

[2021-01-11 10:46] escuco opened #6 "Add animated GIF Support"
It would be nice, if PhotOS would support animated GIF files. Thus, for example, 'video' loops and cinemagraphs could be played on the photo frame.
Examples:
http://cinemagraphs.com/
https://www.gallereplay.com/

[2021-01-15 11:45] escuco opened #8 "Add the ability to change the intervall"
It would be nice to change the presentation intervall from 5 seconds to other values (for example via photoframe.conf).

[2021-01-18 09:52] avanc commented on #6
* [giflib](http://giflib.sourceforge.net/)
    * was used by fbv
    * not sure if it supports animations: http://giflib.sourceforge.net/whatsinagif/animation_and_transparency.html

[2021-01-19 05:58] avanc opened #9 "Remove hard dependency of network"
Currently, the system reboots if no network is connected and does not fully start if no network is connected.
The system should show photos while network is down and try to reconnect automatically.

[2021-01-21 07:58] avanc opened #10 "Add user interface to configure the system after initial setup"
One solution might be a small web server, to which the user can connect using a browser to configure the system.

Things to configure:
* Network settings
* Webdav settings
* Slideshow delay
* Monitor on/off schedule
* Image scale options (e.g. smartfit percentage)

[2021-01-21 07:58] avanc commented on #8
Related to #10

[2021-02-08 13:10] avanc opened #11 "Rotate images based on metadata"
Some images (mainly from smartphones) contain metadata to rotate the image:
https://www.impulseadventure.com/photo/exif-orientation.html

This is currently not supported by fbv and images are shown wrongly.

[2021-02-08 20:34] LarsPotratz opened #12 "Syncthing support"
Syncthing doesn't need a server to synchronize the images.

[Syncthing](https://syncthing.net/)

[2021-02-09 08:36] escuco opened #13 "Pre-release photOS 0.2.0-rc1: Add home button in every submenu"
A home button that points to the main menu in every submenu would be helpful.

[2021-02-12 06:38] avanc opened #14 "Make local timezone configurable"
Add an option to the webui to configure the timezone

[2021-02-16 08:25] #3 closed

[2021-02-16 08:25] #13 closed

[2021-02-16 08:25] #14 closed

[2021-02-18 09:58] avanc commented on #12
Currently, there are some build issues:
http://lists.busybox.net/pipermail/buildroot/2021-February/303627.html
https://forum.syncthing.net/t/compilation-using-buildroot-fails-with-build-constraints-exclude-all-go-files/16374

[2021-02-18 13:30] escuco commented on #6
Did some testing with graphic output (spec. animated gif) on framebuffer:

fbi -> only shows the first frame from the animated gif
fim -> only shows the first frame from the animated gif
feh -> doesn't support framebuffer

gif_play -> got stuck while compiling due to missing dependencies and other error messages ¯\_(ツ)_/¯

[2021-02-18 19:18] escuco commented on #6
Maybe playing cinemagraph video files is an option instead of animated gifs:

All players are tested with mp4 no audio cinemagraphs with 1920x1080 pixel resolution

[mplayer](https://mplayerhq.hu/) -> to slow on raspberry pi zero

[vlc](https://www.videolan.org/vlc/) -> works nice
`vlc --no-video-title --fbdev /dev/fb1 filename.mp4`

[omxplayer](https://github.com/popcornmix/omxplayer) (command li

[2021-03-27 20:49] avanc opened #15 "Show hostname/ip address the first few seconds after startup"

[2021-04-01 18:31] avanc opened #16 "Avoid empty password in webui"
If you click save accidentally in WebDAV config page, an empty password is stored. This should be avoided.

[2021-04-01 18:34] avanc opened #17 "Add link to photOS in webui"
Link to project page and maybe issues.

[2021-04-05 08:28] knumsi opened #18 "Does not work"
Just leaving a Comment. I like your basic principle using webdav as source and configuration done via web.

But I do not get it running. RPI3 7" Touchscreen + RPI3.

System booting, SSH open and root login without any password possible. No webinterface though it shows to configure webdav server ...

Therefor I leave searching for another solution.

[2021-04-07 10:56] JSAnyone opened #19 "Question about systemctl"
Hi,
I really like the idea of this project, especially the webdav sync. I wanted to customize it a little bit in order to not display the pictures on the HDMI-Port but let the Raspi emulate an USB-Stick to work with any normal digital photo frame.
Unfortunately, I’m a little bit confused because it looks like systemctl ist not set up on photOS. Am I right with this assumption? Is there any systemc

[2021-04-07 12:55] avanc commented on #19
This sounds like a very intersting approach to make exiting picture frames connected. Do you have some information how this can be implemented? The images from webdav are locally synced into /data/photoframe/images_local and it should be easily exported as mass storage.

Regarding your question: The underlying thingOS uses init.d. To start the mass storage service, you have to add a script into /e

[2021-04-07 18:28] JSAnyone commented on #19
I haven’t tested it yet because I don’t have a Pi Zero, but I think I understood how it is working.
I’ve read multiple (german) tutorials, and think the most modular one is [this](https://www.pcwelt.de/ratgeber/Raspberry-Pi-Zero-W-als-smarter-USB-Stick-10449295.html). When it comes to the Hardware, the beginning of [this](https://www.raspberry-pi-geek.de/ausgaben/rpg/2020/04/pi-zero-als-universell

[2021-04-07 18:49] avanc commented on #18
Sorry for the problems. I never tried photOS using the DSI port. Did you get an output on the display?

Nevertheless, the web interface should be available also if no display is connected at all.
I'll try to reproduce your problem with a RPI3 without any display the next days.

[2021-04-07 20:52] avanc commented on #19
Thanks for this great summary.
The dwc2 module and mkdosfs are already available. Only python-watchdog is not within the image, but it is available in buildroot. So it can be easily integrated. And changing that simple systemd unit file into an init.d script should be straight forward.

As I'm currently focusing on integrating syncthing (https://github.com/avanc/photOS/issues/12), I don't have tim

[2021-04-08 06:52] #18 closed

[2021-04-08 06:56] avanc commented on #18
It was a stupid bug in the package configuration.
I grabbed a Raspberry Pi 3B+ to test it. In addition, a Raspberry Pi 4 is ordered, so I can test the software on all devices before doing a release.

@knumsi apologize for the inconvenience

[2021-04-08 09:27] cbartetzko opened #20 "Webserver not responding"
I've installed latest realease on Raspi Zero, Raspi 2, Raspi 3, each with respective image.
However the result is always the same:
Installation goes well, I get to the photoOS WelcomeScreen.
When trying to access the Configuration with a webbrowser I get no connection.
Chrome says: ERR_CONNECTION_REFUSED
Accessing by ssh or ping works without problems.

[2021-04-08 14:52] avanc commented on #20
Unfortunately, there is a bug for RPI2, RPI3 and RPI4: https://github.com/avanc/photOS/issues/18
I'm currently creating a new release to solve the issue.

However, having the same problem with RPI zero using the photOS-raspberrypi-0.2.1.img.xz image is strange.
Can you see any error messages on the display while the system is booting?

[2021-04-08 19:40] JSAnyone commented on #19
Thanks for the information!
I think I will give it a try in a fork and then later implement it to photOS if it‘s working.

[2021-04-08 19:59] avanc commented on #20
@cbartetzko You may want to give the new release a try?
https://github.com/avanc/photOS/releases/tag/v0.2.2

[2021-04-09 05:31] avanc commented on #18
@knumsi A new release is available which should solve your problem: https://github.com/avanc/photOS/releases/tag/v0.2.2

However, I'm still not sure if the DSI-Display will work out of the box. From some tutorials I read it seems that nothing has to be done. But I'm not sure if this is only valid for Rasbian based images...
Any feedback is highly welcome.

[2021-04-09 09:01] avanc commented on #10
Available since V0.2.0.
Slideshow delay is tracked in #8

[2021-04-09 09:01] #10 closed

[2021-04-09 09:05] avanc commented on #19
Great!
Just leave a comment or drop a mail if you get stuck.

[2021-04-11 12:53] JSAnyone commented on #19
I’m almost done now. Unfortunately, my RPi Zero is still on shipping, so I could only test it on a Raspberry 1 B, without the OTG functionality. But even with not finally knowing if it’s working, I already came to some points that aren’t optimal solved yet in my opinion:
1. The [Fstab.extra](https://github.com/JSAnyone/photOS/blob/master/board/common/overlay/etc/fstab.extra), where the virtual USB

[2021-04-11 13:11] JSAnyone commented on #19
I also thought about how to integrate in into photOS later if it’s working. I think the most simple way is, like you already said, creating a new package, e.g. `photoframeusb`, and adding a “new board”, e.g. `raspberrypiusb`, that includes the photoframeusb package (and the python-watchdog) instead of the photoframe package. If I get the fstab like mentioned above out of the common directory, this

[2021-04-11 19:35] avanc commented on #19
Great, you are making quick progress.
Here are some thoughts:
* package/photoframeusb
    * It's a good idea to have the code in a separate package.
    * As a longterm goal I would not see this feature as new board but hope to integrate it directly into the rapsberrypi release and make it optional configurable and activate it within the webui
* fstab.extra
    * I don't like to have package stuff

[2021-04-12 14:11] JSAnyone commented on #19
Thanks for sharing your thoughts!
Making it configurable via the Webserver sounds good, unfortunately I have no idea yet how the Webserver in photOS is working.

Fstab: I also wasn't shure if it is a good idea to put package stuff into the overlay. But I also don't think that mounting and unmounting it every time is a good idea, since the Python script is watching this directory and might get conf

[2021-04-29 14:10] KarlR83 opened #21 "Support for motion sensors to switch off/on HDMI (display)"
Great project, also the MAKE article about it!

You already implemented time schedule based switch off/on of the HDMI port (and of the connected display), which is nice.

There are also motions sensors out there ([example](https://maker.pro/raspberry-pi/tutorial/how-to-interface-a-pir-motion-sensor-with-raspberry-pi-gpio)) that could be used to switch the display off (after a grace period) and on

[2021-04-30 06:57] avanc commented on #20
@cbartetzko Could you reproduce the problem with the latest release? Otherwise, I would close this issue.

[2021-04-30 07:16] cbartetzko commented on #20
You can close this issue. It's working fine now. Thanks.

[2021-04-30 11:01] avanc commented on #21
@KarlR83 Sounds like a very good idea!

I did something similar with motioneyeos: https://github.com/avanc/motioneye-pir
I cann recommend AM312 PIR sensors. They have a good detection range and are very small.

However, in my compact hardware setup I had problems that the wifi was influencing the PIR sensor. So make sure they are not close together.

I'll take this as enhancement for a next releas

[2021-04-30 11:11] avanc commented on #20
Great

[2021-04-30 11:11] #20 closed

[2021-05-01 10:35] MisterMike opened #22 "Enhancement request (display activation, display delay)"
Would it be possible to enhance the web GUI with the following:

- multiple display timers (I would like to run the display in the morning, and then again in the evening. Schedules for every day would be too much asking I guess :) )
- easy way to set the transition delay (instead of 10s, a slider or an input field for seconds)

[2021-05-02 19:17] avanc commented on #22
@MisterMike You can track the progress fo the second item in ticket https://github.com/avanc/photOS/issues/8 (is planned for next release)

For maintaining multiple timers I have to think about how this can be reflected in the UI.
In the meantime, you may want to change it directly in `/data/etc/crontabs/root` on the device.

[2021-05-05 08:11] mrlaja opened #23 "SSH Connection do not work"
How can i find Out the SSH User and Password?

[2021-05-05 08:30] mrlaja commented on #23
OK. Admin and no Password

[2021-05-05 08:30] #23 closed

[2021-05-05 08:31] mrlaja commented on #23
Root and no password

[2021-05-05 08:39] avanc commented on #23
Hope you didn't spend too much time finding the answer.
I updated the FAQ: https://github.com/avanc/photOS/wiki/FAQ#what-are-the-ssh-credentials-username-and-password

[2021-05-05 14:18] #8 closed

[2021-05-05 14:18] #16 closed

[2021-05-05 14:18] #15 closed

[2021-05-05 20:24] makuris opened #24 "DIsplay on/off via URL / HTML Post"
It would be great if it were possible to send Diplay on/off e.g. via a Node Red HTML Request.
This could be very handy for any smart home evironment, so to activate the display only if someone is at home or via an additional motion sensor.

I was not able to derive it from the HTML code of the /display page by myself. But maybe this could be simply shown on the page as a copy & paste value.

[2021-05-06 12:01] mrlaja opened #25 "why only webdav?"
the Project is perfect! release v0.3.0-rc1 works fine.

id would be perfect to connect the Pictureframe via smb or sftp.
my Openmediavault 5 server do not WebDav...

[2021-05-06 12:34] avanc commented on #24
This is a very nice idea. In fact, you can control everything that is available in the webui. So you could also turn the device off, etc.
As I like the idea, I just created a short wiki page:
https://github.com/avanc/photOS/wiki/Home-Automation

Please let me know, if there is something missing.

[2021-05-06 12:47] avanc commented on #25
I already had a Nextcloud server when I started the project. Thus, webdav was the obvious choice at that time.
But I agree that smb and sftp are both good alternatives.
What would be your favourite?

[2021-05-06 13:03] mrlaja commented on #25
Smb would be the Favorite for the User in their own Networks. Butt sftp ist better for User in other Networks. I would Like to Install such an pictureframe at my parents place and host the Pictures on my Server. So they Always can See Always nee Images Form their Grandchildren..... My moms Smartphone makes Backups in my Server, and IT works fine.

So stfp.

⁣mit freundlichen Grüßen
Jan Lange

Am 6

[2021-05-07 09:54] avanc commented on #21
@KarlR83 Would be great if you could test this release:
https://github.com/avanc/photOS/releases/tag/v0.x.y-pirtest

This includes an additional service to read a GPIO and activate/deactivate the display accordingly. There is no webui, you have to do the configuration via ssh and add the file `/data/photoframe/motion_detector.conf` with the following content:
https://github.com/avanc/photOS/blob/p

[2021-05-08 07:18] KarlR83 commented on #21
Great, thanks a lot. Not sure if I will manage to test this in the next days, but I will for sure try it out and let you know.

[2021-05-09 07:26] mrlaja opened #26 "Images are deleted at reboot"
I uploaded some Pictures to /pictureframe/local Images/  via filezilla, because i dont have an webdav folder.
But at reboot any Image ist deleted. There should be a folder for Pictures, wich should stay Always in the frame.

[2021-05-10 06:47] avanc commented on #26
The webdav is just a one-way sync, i.e. new files are copied onto the device and all file available on the remote side are removed locally. So you should not configure a webdav server with an empty folder as this would remove all files on the device.
Does this apply for you?

If there is no webdav configuration (no /data/photoframe/conf/webdav.conf on photOS >=0.3.0) the files stay on the device i

[2021-05-10 09:13] kmuehlbauer commented on #11
@avanc Would you consider adding `ImageMagick` to the image? Then we could just rotate the image when syncing using convert/mogrify.

[2021-05-10 11:03] UdoKraushaar opened #27 "Automatic display set fail"
Hi
Setting the automatic display activation times (e.g. on 08:00 , off 18:00) in the web GUI results in an internal server error 500.

In photoframe.conf only entry is SLIDESHOW_DELAY=_'time-set-by-me'_. File is rw for root.
Until possible fix: what should be the entry in the conf file for above mentioned time example?
Thank you

[2021-05-10 11:48] avanc commented on #11
@kmuehlbauer Sounds like a good workaround.
Initially, I was afraid that those locally changed files are overwritten on each sync. But it seems that `--ignore-existing` will do the trick: https://askubuntu.com/questions/601878/rsync-delete-files-from-target-if-not-existing-in-source

What would be the imagemagick command? Can it read EXIF information?

[2021-05-10 11:56] avanc commented on #27
@UdoKraushaar I can reproduce the problem and investigating. Thanks for reporting.

As workaround: The times are stored in `/data/etc/crontabs/root`. Example for turning on at 7am, and switching of at 9pm:

    0 7 * * * /usr/bin/photoframe.sh display on
    0 21 * * * /usr/bin/photoframe.sh display off

[2021-05-10 11:56] kmuehlbauer commented on #11
This will do the inplace rotation:

[code]

[2021-05-10 12:13] kmuehlbauer opened #28 "Run from attached USB stick"
If a USB stick is attached, the stick is autodetected and added as `/dev/sda1` (second stick would be `/dev/sdb1` and so forth, at least in my case). Additionally this gets mounted to `/data/media/sda1`.

If we add a test here: https://github.com/avanc/photOS/blob/42a8e113ebeb66d684205ade77e3d71de001f7a6/package/photoframe/photoframe.sh#L5
which checks for existence of `/dev/sda1` we can declare `

[2021-05-10 12:16] kmuehlbauer commented on #28
@avanc Nice work, BTW :+1:

[2021-05-10 12:18] avanc commented on #27
New release will be available in several hours.

[2021-05-10 13:05] avanc commented on #11
I just realized, that mogrify does also change the file if the image is already rotated. Thus, every image is rewritten after each sync, which should be avoided.

I used exiftran on my PC which only changes files which have to be rotated. However, it has a lot of dependencies :-/

[2021-05-10 13:16] avanc commented on #28
How about this proposal:
Sync files from usb to another internal folder (e.g. images_usbstick) and have a configuration in the webui to select, whether images from webdav (i.e. images_local) or images_usbstick shall be shown. So the USB-Stick does not need to be connected all the time. In addition, this can than be easily extended to select other sync sources in future (https://github.com/avanc/ph

[2021-05-10 13:26] kmuehlbauer commented on #28
Yes, thanks, that should work. I would still be able to add the hack ;-).

From your experience, what's the probability of SD Card failures due to frequent writing of hundreds of images? I was wondering if the user should be able to specify the local data folder to be on some large usb storage instead of the SD Card.

[2021-05-10 13:28] kmuehlbauer commented on #11
Maybe because it strips the EXIF information from the file? But doesn't `--ignore-existing` cover for that? Another problem might arise, if the EXIF information is wrong.

[2021-05-10 20:03] avanc commented on #27
Bugfix is released: https://github.com/avanc/photOS/releases/tag/v0.3.1

[2021-05-11 11:02] KarlR83 commented on #21
Some first feedback:
Setting display on/off times results in server error 500. Changing the timezone doesn't work (always resets to default "Africa/Abidjan".
But maybe that's expected due to the changes.
Will get back to you, once I tested the sensor.

[2021-05-11 12:22] avanc commented on #21
There was a bug regarding display schedule: https://github.com/avanc/photOS/issues/27
This PIR prerelease based on the old version.

[2021-05-12 08:29] KarlR83 commented on #21
Tested it yesterday, but seems it isn't working for me. The display never goes off.

My sensor is connected to GPIO=23
I also tried with STOP_DELAY=3 and INTERNAL_RESISTOR=on (not sure if my sensor is floating, though) but still doesn't work.

Any way how to switch on debugging mode, so I can for example get log output to see if motion is detected or not?

[2021-05-12 10:23] chr2k opened #29 "Portrait Pictures are in Landscape Mode"
Shooted picutes with Smartphone in Portrait-Mode are shown in Landscape-Format.

There is no rotation. Where can i find a workaround or something else?

Thanks.

Cheers
Christian

[2021-05-12 10:24] chr2k commented on #25
Great if smb or similar would be integrated :-)

[2021-05-12 10:27] chr2k commented on #29
Ah got it, i see this issue now: https://github.com/avanc/photOS/issues/11

[2021-05-12 10:27] #29 closed

[2021-05-12 13:18] avanc commented on #21
You are right, I added a wrong path to the configuration path.
I'm building a new test image:
https://github.com/avanc/photOS/actions/runs/835570175

I let you know when it is available.

[2021-05-13 07:34] avanc commented on #21
@KarlR83 New pre-release is now available:
https://github.com/avanc/photOS/releases/tag/v0.x.y-pirtest3

Configuration file path is now: `/data/photoframe/conf/motion_detector.conf`

For testing, stop the service and start the script by hand:

    /etc/init.d/S81motiondetector stop
    /usr/bin/motion_detector.py

This should give you some debugging output.

[2021-05-13 09:23] KarlR83 commented on #21
@avanc Works. great work!
(Seems my sensor is is not floating, didn't try the INTERNAL_RESISTOR option)

Changing the timezone using the UI still doesn't work (always resets to default "Africa/Abidjan"). Or is this just an UI issue?

Anyway, would be great to see the motion detection feature in the next release!

[2021-05-13 20:05] avanc commented on #21
Glad to hear that it is working. I will include it in the next release with some documentation in the wiki.

Unfortunately, I cannot reproduce your problem with the timezone. Please check if there are files with ending `.py` (don't care about `.pyc`) under  `/data/usr/lib/python3.8/site-packages/webui/`.

You can also stop the webui service and start it manually to see some possible errors:

    /

[2021-05-14 06:43] KarlR83 commented on #21
There are no .py files in that directory, see screenshot.
![Unbenannt](https://user-images.githubusercontent.com/12169788/118232048-48868d80-b490-11eb-8006-411aa4217198.JPG)

Manually stopping and starting the webui does not give me any errors (on console). Setting the timezone still doesn't work.

I will wait for the next release. If I still face this problem, I will open an issue.

[2021-05-14 12:50] kmuehlbauer commented on #11
@avanc I've compiled `photOS` from scratch with `ImageMagick`. I'm working around the issue with changed files by not changing them.

What I do instead is, converting the image into the `/tmp`-folder and feed it to `fbv` from there. Afterwards I delete this file.

This is the start-function in `/usr/bin/photoframe.sh` with the needed changes

[code]

This works actually quite good in my test cases

[2021-05-14 16:28] admindonkey commented on #4
Hi,

is it possible not to shuffle the images?
I'd like to show them one after the oher.

Greetings

[2021-05-15 09:30] admindonkey opened #30 "do not Shuffle"
Hi,

is it possible not to shuffle the images?
I'd like to show them one after the oher.

Greetings

[2021-05-15 10:47] avanc commented on #21
@KarlR83 One hint from a friend: Note that the drop-down menu will always show the first timezone. The selected timezone is printed above...

[2021-05-15 10:50] avanc commented on #30
I'm going to add a configuration parameter to show images in alphabetical order.

[2021-05-15 10:57] avanc commented on #11
Good proposal. It should be possible to _hardcode_ image2 filename. Than we don't have to care about removing it...

Still curious what the difference between convert and mogrify is.

[2021-05-15 12:05] kmuehlbauer commented on #11
Yes, hardcoding should work better. I haven't thought about that.

`convert` does conversion from input-file to output-file while `mogrify` does the conversion in-place (changing the input file).

[2021-05-15 12:27] KarlR83 commented on #21
That's it, sorry for the confusion. I was just looking at the drop-down, not the text above it. So no issue here.

[2021-05-15 12:27] #21 closed

[2021-05-17 13:22] #30 closed

[2021-05-17 13:27] avanc commented on #21
I'll update the webui in the next release to avoid this confusion.

[2021-05-18 07:18] avanc commented on #30
New release is in preparation. Documentation is updated: https://github.com/avanc/photOS/wiki/FAQ#how-do-i-deactivate-photo-shuffling

[2021-05-19 19:17] avanc opened #31 "Improve webui design"
The webui can have a little design refinement.
If someone has HTML/CSS knowledge (or want to learn those) is invited to help here.

[2021-05-20 19:49] avanc commented on #11
Your approach is now available in the latest release:
https://github.com/avanc/photOS/releases/tag/v0.3.2

Thanks @kmuehlbauer

[2021-05-20 19:49] #11 closed

[2021-05-21 08:24] KarlR83 commented on #21
Works great with the new 0.3.2 release, thanks again!

As a (really minor) hint, at the [Motion Detection Wiki](https://github.com/avanc/photOS/wiki/Motion-Detection) you say
`vim /data/photoframe/conf/motion_detector.conf`
But there is no _vim_ in photOS, only _vi_

[2021-05-21 09:18] avanc commented on #21
Thanks for the hint!

[2021-05-21 09:42] MarkusEder opened #32 "no images found"
Hi, I configured Webdav according documentation to "https://#####.dd-dns.de/remote.php/dav/files/photo/photos" where the user is photo and the directory is photos. But still "No images found". Where (logfile or error message) can I check what is wrong? Strange, even a wrong PW is not creating a error message?
THX

[2021-05-21 09:50] MarkusEder commented on #32
Sorry my bad. It was a Filter in the Fritzbox "Kindersicherung/Zugangsprofil" that hindered my photoos to correctly connect to I-net.

[2021-05-21 09:50] #32 closed

[2021-05-21 18:09] makuris opened #33 "Unable to access file or unknown file format"
Hi, i have updated to 0.3.2 and now from time to time I get the following new error message:
![IMG_20210521_200600.jpg](https://user-images.githubusercontent.com/43435080/119180193-40ba8080-ba70-11eb-9267-833de0079483.jpg)

New added images are now shown in the correct rotation. But why do I get the error message?

[2021-05-21 20:51] avanc commented on #33
It seems that the convert command is killed maybe due to memory limitations or it takes to long. Thereafter, fbv (frame buffer viewer) tries to show the converted image but it is not there or broken...

How often does this happen and how many images do you have?

If it happens because ImageMagicks convert cannot convert one specific file, you should be able to find it by deactivating shuffle (http

[2021-05-22 10:33] alex0124000 opened #34 "Add option to include self signed certificate for WebDAV"
My pictures are on a local webdav server (a Synology NAS) which uses HTTPS but has a self-signed certificate.
photOS (mount.davfs) refuses to speak to the server because the certificate can't be validated.

According to the mount.davfs documentation (https://linux.die.net/man/8/mount.davfs), I could copy the certificate to /etc/davfs2/certs or ~/.davfs2/certs but both locations are read-only (when

[2021-05-22 13:50] makuris commented on #33
The error message appears every 10 images or so. I have currently 250 images on the webdav folder. I rotated most of them using irfanview since the image magic trick was not implemented at the beginning.

The raspi is capable of showing really large images >15MB if he does not need to rotate them.

So there are about 25 portrait images that need rotating. I went through and I think they were never

[2021-05-22 14:33] avanc commented on #34
The command is

    mount -o remount,rw /

However, the changes will be overwritten after update.

Would be great if you could write your steps, as I heard about the problem before but didn't know how this can be done. I would add the details in the wiki.

[2021-05-22 14:34] avanc commented on #34
I'll think how to add certificates permanently.

[2021-05-22 20:05] alex0124000 commented on #34
Thanks for your help!
I got it working now.
These are the necessary steps:
[code]

The changes survive a reconfiguration of the webdav settings (via web UI), but they are overwritten on a server restart (as you already wrote).

[2021-05-22 20:48] avanc commented on #33
Thanks for the details. I'll take a look into it after the weekend.

[2021-05-25 03:46] avanc commented on #33
@makuris  Just to let you know that I can reproduce the problem, but still investigating.

[2021-05-26 15:29] avanc commented on #33
@makuris Can you give the prerelease a try: https://github.com/avanc/photOS/releases/tag/v0.3.3-rc1
This should solve the problem.

[2021-05-26 18:36] ThorstenEisinger commented on #33
Seems to solve the problem for me with a Raspberry Pi Zero W. Thanks for the quick fix.

[2021-05-26 18:38] makuris commented on #33
It now rotates all images correctly and no more error messages. This is awesome, thank you so much!

[2021-05-28 06:23] avanc commented on #33
@makuris and @ThorstenEisinger : Thanks for the quick feedback.

I just released 0.3.3 with the fix of the release candidate.

[2021-05-28 06:23] #33 closed

[2021-05-29 10:35] #26 closed

[2021-05-31 10:52] MeWorkstar commented on #34
I have a similar problem / setup and i am interested in a solution.
Can't wait to see your approach and the documentation.

If help or more infos are needed from my case, feel free to reach out to me.

[2021-05-31 12:37] avanc commented on #34
@MeWorkstar No progress yet, sorry. However, @alex0124000 approach https://github.com/avanc/photOS/issues/34#issuecomment-846457203 should work.

You should store webdav_cert.pem somewhere to /data (e.g. /data/photoframe/conf/webdav_cert.pem) so it is not removed on an update. However, you have to do the changes to /etc/photoframe/davfs2.conf after each update.

[2021-06-08 07:28] avanc opened #36 "Setting empty delay makes it unusable"

[2021-06-08 07:30] avanc opened #37 "Filenames with spaces are not handled correctly"
The problem is here:
https://github.com/avanc/photOS/blob/master/package/photoframe/photoframe.sh#L148

[2021-06-08 14:21] avanc commented on #37
Fixed by 536f7ca08a4bfb23e5f92f8b21b23ca956904412

[2021-06-08 14:21] #37 closed

[2021-06-08 18:16] steamfan opened #38 "Permission denied on MacOS"
I'm trying to write the image to the micro SD card with the writeimage.sh script on MacOS and get a permission denied. Following commands:

photOS-raspberrypi-0.3.3.img    photOS-raspberrypi-0.3.3.img.xz writeimage.sh

According to DiskUtility.app shows to Card Reader is 'disk3'; <MeinWLAN>:<MeinWLANPassword> are replaced here.

1+1 records in
1+1 records out
1913676 bytes transferred in 0.260613

[2021-06-09 19:01] avanc commented on #38
It seems that writing the image works. As workaround you can insert the SD-Card again and mount the first partition (should happen automatically) to configure the network (https://github.com/avanc/photOS/wiki/Installation Step 4).

It seems that the new partitions are not named disk3s1..3. Can you have a look how MacOS names them (`ls /dev/disk3*`)

[2021-06-09 19:08] avanc commented on #38
@escuco Am I right that you had a similar problem?

[2021-06-10 06:38] escuco commented on #38
@avanc @steamfan If I remember correctly, in my case the partitions were not read after writing the image, but I couldn't really figure out why. Because of that I configured photOS manually as described above.

[2021-06-10 08:11] steamfan commented on #38
Hello,
with the manual method I was able to write the image to file, manually edit the wpa_suppliant.conf file, boot the Raspberry and access the WebGUI.

Thanks so far for the support

[2021-06-13 13:27] alex0124000 commented on #34
thanks for merging my pull request. Shall we close this issue now?

[2021-06-13 14:53] avanc commented on #34
Self signed certificates is not included yet. I want to keep this open until I also updated the documentation.

[2021-06-13 15:30] alex0124000 commented on #34
Ah, you are right. I got confused by the two topics.

[2021-06-18 10:01] marcelpauly opened #39 "Missing support for *.jpeg"
JPG images with the filename extension *.jpeg instead of *.jpg are not displayed. At the moment you have to rename them manually to get them displayed on the screen.

[2021-06-21 13:03] #39 closed

[2021-06-21 13:04] avanc commented on #39
Thanks for the hint. Will be included in the next release.

[2021-06-22 12:17] #36 closed

[2021-06-22 12:38] #34 closed

[2021-06-22 16:03] avanc commented on #34
@alex0124000 It is now included in this release candidate: https://github.com/avanc/photOS/releases/tag/v0.3.4-rc1
Maybe you want to give it a try.
Its documented at https://github.com/avanc/photOS/wiki/Self-signed-certificate

[2021-06-23 20:19] avanc commented on #39
@marcelpauly You may want to test the prerelease, as it supports .jpeg now:
https://github.com/avanc/photOS/releases/tag/v0.3.4-rc1

But you can also wait for the stable release.

[2021-06-27 10:16] alex0124000 commented on #34
I tried `https://github.com/avanc/photOS/releases/tag/v0.3.4-rc2` (the files are still named `...rc1` :) )
I ran into one problem: I got this error message when it tried to connect to my NAS.

I think it was caused by the file permissions on the .pem, but I forgot to confirm what the current settings were.
I then ran `chmod a+r /data/photoframe/conf/webdav_cert.pem` and the connection worked. So I

[2021-07-10 21:48] escuco opened #40 "Wiki enhancement: Home Automation - Switch Display on/off from iobroker"
**With this solution you can switch your photOS display on/off with iobroker:**

- create a new datapoint "photoframe" in "Objects" / "0_userdata.0" with type = "datapoint" and datapoint type = "value list"
- edit the properties and change the value field into "String" and predefined Values into "on:on;off:off" and leave the rest at it is
- now create a new blockly script in "Scripts" / "common" a

[2021-07-16 20:31] ts617284 commented on #40
Hi,
sounds very interesting, thanks for the post. I tried it out with my iobroker installation, but unfortunatelly I can't get it to work. :-( your descritpion is very extensive and complete, I don't think I made a mistake there. But switiching of the display doesn't work.  (it works in gui via browser though).
I tried to manually add the script and to directly post the string "off" (instead of re

[2021-07-22 07:31] admindonkey commented on #25
Hi,
does enybody know how I can realice the SMB sync?

Greetings

[2021-07-22 12:06] avanc commented on #25
@admindonkey Unfortunately, SMB is not supported yet. I already had a look in different tools, which might be used for SMB and maybe also other protocols. But not ready.

[2021-07-22 12:33] admindonkey commented on #25
Oh, how pity.
Do you think it will be possible in near future?

[2021-07-23 20:13] avanc commented on #40
Unfortunately, I'm not  familiar with iobroker. But the js code looks similar to @escuco s example. You may try

    request.post({ url: 'http://192.168.1.81/display', form: { action: 'off' } }, function(error, response, body) {
      console.error('error:', error); // Print the error if one occurred
      console.log('statusCode:', response && response.statusCode); // Print the response status co

[2021-07-23 20:25] avanc commented on #25
I plan to use [Rclone](https://rclone.org/) as it would allow a bunch of sync sources (e.g. SMB, SFTP, WebDAV). However, there is no package for buildroot and I have to create it. As I'm not that familiar with go-lang, I don't want to promise anything. But I'm optimistic to have SMB supported within the holiday season :-)

[2021-07-24 12:15] ts617284 opened #41 "permanent settings after power off?"
I am not sure, if I understand the concept correctly, but is there a way how my settings survive a power off?

I have had photoOS up and running and connected to my Nextcloud. Everything was working fine.  I shut down the raspberry pi to do some work on the wooden frame and switched power on again several days later. Then I didn't get a network connection any more. I checked the sd card and at lea

[2021-07-24 12:52] mrlaja commented on #41
WLAN Signal to week. IT was Always so in my dinning room. Its Always rebooting, Ehen WLAN Signal breaks up

[2021-07-24 18:40] avanc commented on #41
Regarding wifi configuration: The file on the first partition (boot) is only read once and copied to /data/etc/ (on third partition). So it is totally fine that it is gone after boot: https://github.com/ccrisan/thingos/wiki/wpa_supplicant.conf

So it seems you have another problem. Unfortunately, the wifi error messages are never specific. You get the same error message if the signal is weak as me

[2021-07-25 09:45] ts617284 commented on #41
@avanc @mrlaja
thank you both for your quick reply and help.
Raspberry was 3 m near wlan router, no walls... so I didn't thought I had a too week signal. Anyways tried it again today and it worked instantly...  still a strange feeling, because I don't know what I did wrong, but okay :-) I take it.
Thank you very much again!
Tim

[2021-07-25 10:52] ts617284 commented on #40
@avanc: thank you!
tried your additional output options, but they all are displayed empty.
[code]
Seems to me I don't get a connection since I don't even receive any repsonse or errore codes...
hm... stuck at the moment since I don't know how to debug this any further :-(

anyhow, it might be a good idea to put @escuco description of his solution in the wiki at the "Home Automation" section, maybe

[2021-07-25 11:18] ts617284 opened #42 "feature request: portrait mode?"
Hello,
is there an option to configure a portrait mode? (instead of landscape?). Looked through documentation and didn't find it.
There could be two reasons in my opinion where it could be useful also for others:
- a large junk of your photos are actually portraits of people, then it could be worthwile to orient the frame at the wall upright (long side vertically).
- also maybe some space restrict

[2021-07-25 11:28] ts617284 commented on #41
hm... just realized my display is acting up again...
wlan connectiong error :-( are forcing a reboot.

I think it would be very nice, if the wlan depency is not forcing a reboot when it looses connection (see also #9 ). Instead it should just go on with displaying the already downloaded images (and just showing a error message in the display).

[2021-07-27 14:24] escuco commented on #40
Sorry for my late answer, @ts617284 @avanc, but I wasn't at home the last days.

I've tested again my own description step by step with a new script and a new data point - just for going sure that I didn't any mistakes. Everything works fine with that.

@ts617284, please note, that if you're using another name than "photoframe" for the data point, you'll have to change the name also in the blockly

[2021-07-31 11:04] ts617284 commented on #40
@escuco : thank you for your help.  yes I have another name for the datapoint, but I changed it in the script as well. It works correctly, since the javascript sub function gets triggert (I am writing log entries out of the sub function). But my problem is, that the http post request has no effect (and doesn't get response error codes as well). So I think I have a connection error to photOS...

[2021-08-03 06:42] ostrowsky74 opened #43 "Black bars on the display"
On a TV I have black bars on the left and right for every photo. The photo is cropped.
Have already tried different resolutions, but no change. It seems to be due to the resolution of the TV. Tested a different photOS system, and the same result.

Thank you

Timo

[2021-08-03 09:12] avanc commented on #43
Please execute `fbset -s` on the device to see what resolution was detected and if it fits to your TV.

It might be related to overscan? Please try to add `disable_overscan=1` to config.txt. The file is located on the first partition, if you read the SD-Card in your computer. If you are logged into a running photos, the file can be found at /boot/config.txt. You have to remount the partition RW: `

[2021-08-03 09:23] avanc commented on #42
Great idea!
This can be easily done by setting `display_hdmi_rotate=1` in config.txt. (see https://www.raspberrypi.org/documentation/configuration/config-txt/video.md for additional information).

The file is located on the first partition, if you read the SD-Card in your computer. If you are logged into a running photos, the file can be found at /boot/config.txt. You have to remount the partition

[2021-08-03 11:47] ostrowsky74 commented on #43
I watched with fbset -s, the output is suitable for the TV.

`mode "1920x1280"`
`    geometry 1920 1280 1920 1280 32`
`    timings 0 0 0 0 0 0 0`
`    rgba 8/16,8/8,8/0,8/24`
`endmode`

I took photos so that you could see it better. The images are 1920x1280 in size.
Both are with black bars.

![1](https://user-images.githubusercontent.com/46702847/128008801-943d44bf-ca4d-4145-9a56-a75bd0d10e20.jpg

[2021-08-03 19:34] avanc commented on #43
To me it seems that the image is not cropped (the red circles hit exactly the end). Thus, my guess is that the image has a different aspect ratio than the screen.
photOS uses the smartfit option from fbv: https://github.com/godspeed1989/fbv/commit/84aadba6351db7f860df775bef69c214a91cdd14
If scaling the image to fill the whole screen would crop more than x%

[2021-08-03 19:41] avanc commented on #43
One additional question: After the boot process, is the shown text left aligned to the TV screen or to the image?

[2021-08-04 05:14] ostrowsky74 commented on #43
I looked deeper and played with fbset. The resolution is wrong.
with `fbset -fb / dev / fb0 -g 1280 720 1280 720 16` it fits.
How do I get this value written into `/sys/class/graphics/fb0/modes`?
So that you grab again after a restart?

[2021-08-04 06:22] avanc commented on #43
So your TV has 720p (1280x720) instead of 1080p (1920x1080)?
I still wonder why it is not detected on bootup. Is the TV connected and on while booting the Raspberry Pi?

The best way to hardcode the resolution is config.txt:
https://www.raspberrypi.org/documentation/configuration/config-txt/video.md

I would guess that you should be fine with

    hdmi_group=1
    hdmi_mode=61

But before setting

[2021-08-05 06:13] ostrowsky74 commented on #43
I was watching `tvservice -s` and was a little confused.

Then I tested different resolutions with fstab

und

and display a full screen.

I then adjusted the config.txt

And it works now.

Thank you for your help !

[2021-08-05 06:42] avanc commented on #43
It is an Raspberry Pi 4? Interesting.
I'm going to add this into the documentation.

[2021-08-05 06:46] ostrowsky74 commented on #43
yes, it is the 4GB model

[2021-08-05 07:06] avanc commented on #43
Added documentation: https://github.com/avanc/photOS/wiki/Screen-Resolution

[2021-08-05 07:06] #43 closed

[2021-08-07 10:20] Schrigga commented on #6
I have created a pull request which adds video support

[2021-08-08 19:42] avanc commented on #42
Documented at https://github.com/avanc/photOS/wiki/Screen-Orientation

[2021-08-08 19:42] #42 closed

[2021-08-16 18:37] avanc commented on #41
@ts617284 Were you are able to reproduce your connection problems?

But I agree, that photOS should work also in offline modus. However, I'm not sure of to recover from network problems...

[2021-08-19 15:14] ts617284 commented on #41
@avanc: Thanks for asking! No, not really. Or at the end, I wasn't able to connect at all. I have ordered a new rapsberry, maybe mine had a defect with its wlan module. Or I have to check general wlan networks around here, maybe something is disturbing the lower bands (I usually use 5Ghz bands at home, so habe no reference really).

Maybe an idea for network handling would be the following:
- at r

[2021-08-19 18:35] avanc opened #45 "Scale video to fill screen"
A video shall be scaled similar to images to fill the screen.

[2021-08-19 18:39] avanc opened #46 "Previous image is visible after video"
After a video is shown, the previous image is visible again until the next image/video is loaded.

[2021-08-26 15:30] ts617284 opened #48 "video (and picture) data format"
I tried to find it in documentation, but with no luck. So either it's not there or I am to dumb... (both is possible ;-) )

@avanc : Could you describe (or update documentation), which data format/codec for videos is allowed? Like mp4 , mpeg, etc.   Maybe also for pictures (jpeg, png, etc.).
Also how does video and delay of the slideshow work together? If I set a delay of 15sec, and then a video g

[2021-08-27 22:10] toki4 opened #49 "Motion detector wake up / switch on a TV from standby"
At fist, thank you for this OS.
It seems, that photOS is HDMI-CEC compliant. When I reboot the system, it can wake up a TV from standby.
Now I ask by myself, if this is also possible in connection with the motion detector?
A motion is detected and photOS switch the TV on.

[2021-09-03 15:50] Schrigga commented on #48
The following formats are currently supported:
- images: jpeg, png
- videos: mp4, mov

Currently the delay does not affect videos. They will play in full.
There is currently a bug, when the video ends that the previous image will be displayed, while the next media is loaded.

[2021-09-20 19:41] timmmerlan opened #50 "CEC to wake up TV"
Hello,
thank you for this cool OS! I have successfully tried to turn on/off the HDMI connection from the web interface - which is no problem as long as the monitor (in my case a MEDION® LIFE® X15511 Smart-TV) is still turned on. However, although the TV should be CEC compliant to turn it on on HDMI input and CEC was activated, it did not react on the RasPi. Therefore, I wanted to ask if photOS bri

[2021-09-25 16:37] HirschJunge opened #51 "Pictures are not scaled to full screen"
I'm using version 0.3.5 and a raspberry pi zero W. When i plug in my laptop to the display the picture is scaled to full screen

[2021-09-25 19:38] HirschJunge commented on #51
I've tried different things but at the end
disable_overscan=1
I've executed tvservice -s and got
state 0xa [HDMI CEA (16) RGB lim 16:9], 1920x1080 @ 60.00Hz, progressive which correlates to the Displaytype.
Also fbset -s  promts
mode "1920x1080"

[2021-10-04 18:58] avanc commented on #50
CEC is not currently supported by photOS (i.e. libcec not compiled). I started a testbuild to see what needs to be done.

[2021-10-04 19:05] #49 closed

[2021-10-04 20:12] avanc commented on #51
@HirschJunge Can you provide some photos taken from the screen? I'm not sure what issue you are experiencing.
Regarding quality: fbv (Frame Buffer View) does a very simple scaling ( e.g. no low pass filtering). This results some times in artifacts.

[2021-10-05 17:48] avanc commented on #50
Short update: There is a new pre-release (https://github.com/avanc/photOS/releases/tag/v0.3.6-rc1) with libcec included. Unfortunatelly, I forgot to update the version number so after update the webui still says it is version 0.3.5.

With this release I was able to manually turn the TV on/off:

* Get device number of the TV (usually 0)
  * `echo 'scan' | cec-client -s -d 1`
* Turn TV on
  * `echo

[2021-10-11 17:17] avanc opened #52 "Make smartfit parameter configurable"
Currently, the [smartfit parameter](https://github.com/godspeed1989/fbv/blob/master/main.c#L617) is hardcoded:
https://github.com/avanc/photOS/blob/master/package/photoframe/photoframe.sh#L17

[2021-10-31 14:30] flomickl opened #53 "Webdav trust certificate"
I think an option to trust the certificate from my own Nextcloud address would be create.

At the moment, I get the following message and don't know how to set the certificate to trusted.
Mounting https://XXXXXXX failed: mount.davfs: the server certificate does not match the server name mount.davfs: the server certificate is not trusted.

[2021-11-01 11:26] avanc opened #54 "Support for Raspberry Pi Zero 2 W"
Although the Raspberry Pi Zero W is sufficient to run photOS, the new successor should also be supported.

Have to wait for support in thingOS:  https://github.com/ccrisan/thingos/issues/75

[2021-11-01 11:28] avanc commented on #53
Does this helps https://github.com/avanc/photOS/wiki/Self-signed-certificate ?
Or how was the certificate created?

[2021-11-01 11:32] avanc commented on #48
I added the information to the [FAQ](https://github.com/avanc/photOS/wiki/FAQ#what-file-formats-are-supported)

[2021-11-01 11:32] #48 closed

[2021-11-01 20:27] #52 closed

[2021-11-01 20:43] avanc commented on #52
Feature will be available in the next release and is already documented: https://github.com/avanc/photOS/wiki/FAQ#how-do-i-change-the-scaling--black-bars-while-showing-images

[2021-11-01 20:56] #50 closed

[2021-11-01 21:04] avanc commented on #50
Will be available in the next release and is already documented: https://github.com/avanc/photOS/wiki/FAQ#how-do-i-turn-a-cec-compatible-tv-onoff

[2021-11-01 21:12] avanc commented on #41
@ts617284 Any news from your side? If it is not an issue anymore, I would close the ticket.
I track the request to be independent of network in https://github.com/avanc/photOS/issues/9.

[2021-11-02 17:59] ts617284 commented on #41
@avanc : I couldn't find a solution to the unreliable wlan connection. PhotoOS frame is now in a completley different room, where it works much better. So I assume I hade some very strange disturbances, but never figured out what caused it.
But anyways: Yes, please close the ticket. It think it would be important not to completely rely on 100% wlan, but as you said, that is tracked in #9 .

[2021-11-04 10:28] avanc commented on #50
@timmmerlan There is a new release candidate which includes CEC support:
https://github.com/avanc/photOS/releases/tag/v0.3.6-rc4

Would be great to get some feedback if it works as expected.

[2021-11-06 12:14] flomickl commented on #53
Thanks for the reply
I copied the pem file to the location but now the error message has changed to: can't read server certificate /data/photoframe/conf/webdav_cert.pem

`-rw-------    1 root     root        1.7K Nov  6 11:53 webdav_cert.pem`

Any suggestion why?

[2021-11-08 21:15] avanc commented on #53
Hm, no idea. I rechecked the path and it looks valid: https://github.com/avanc/photOS/blob/master/package/photoframe/etc_photoframe/davfs2_owncert.conf

[2021-11-11 13:06] Silber-Toaster opened #55 "Audio OFF/ Ton bei Video ausschalten"
Hallo,
wie kann ich den Ton bei einem Video ausschalten?
Der Ton kommt über HDMI Signal in den Monitor.

Hello,
how can I turn off the sound in a video?
The sound comes into the monitor via HDMI signal.

Gruß Norman

[2021-11-11 22:06] avanc commented on #55
You might try

    dtparam=audio=off

in /boot/config.txt

[2021-11-15 06:30] Silber-Toaster commented on #55
Danke für dein Tip.
Aber leider hat es nicht geholfen.

Thanks for your tip.
But unfortunately it did not help.

[2021-11-15 20:27] avanc opened #56 "Videos are not shown with v0.3.6-rc4"
It seems that running omxplayer in background leads to problems:

    omxplayer /data/photoframe/images_local/myvideo.mp4 &

    [6] 7930
    [6]+  Stopped(SIGTTOU)

[2021-11-15 20:37] avanc commented on #56
It seems that the commandline option --no-keys is needed.

[2021-11-15 20:48] avanc commented on #56
@Schrigga Can you help here? I wonder what the `kill` is doing in the code:
https://github.com/avanc/photOS/blob/d6e86189698bd86b453f32b1e894b8ccb5ae7ea2/package/photoframe/photoframe.sh#L246

Previously, I thought the command checks if the process is still running. However, `kill` actually kills the process.

[2021-11-16 20:17] avanc commented on #55
You are right.

    hdmi_ignore_edid_audio=1

did the trick for me (https://www.raspberrypi.com/documentation/computers/config_txt.html#hdmi_ignore_edid_audio).
Let me know if it also works on your side, then I'm going to update the FAQ.

[2021-11-16 20:35] #56 closed

[2021-11-17 08:28] avanc commented on #51
I'm going to add

    disable_overscan=1

per default.

[2021-11-17 12:45] Silber-Toaster commented on #55
Danke, das war die Lösung, nun funtoniert es. :)

Thanks, that was the solution, now it works. :)

[2021-11-18 08:52] darim92 opened #57 "LTE USB-sti ck support?"
Is it possible to use a lte usb-stick for internet conncetion?

[2021-12-01 15:22] avanc opened #58 "Filenames containing tilde are not shown"

[2021-12-01 15:22] #41 closed

[2021-12-01 15:30] avanc commented on #55
Documentation updated: https://github.com/avanc/photOS/wiki/FAQ#how-to-deactivate-audio-output-via-hdmi

[2021-12-01 15:30] #55 closed

[2021-12-01 15:35] avanc commented on #53
You might try manually mounting webdav to see error messages:

    mount.davfs -o ro,conf=/etc/photoframe/davfs2_owncert.conf "YOURWEBDAVURL" /data/photoframe/images_webdav

[2021-12-01 15:40] avanc commented on #57
Nice idea. However, I don't have any experience with running such a stick under Linux. Feel free to add some links to this ticket.

[2021-12-03 18:43] pmt272 opened #59 "Poweroff button support"
Is there a possibility to add a button and a PIR.
i would like to use the PIR for switching the HDMI on or off and the button to power off the raspberry.

[2021-12-03 20:49] avanc commented on #59
PIR-Sensor is already supported: https://github.com/avanc/photOS/wiki/Motion-Detection

Power button is not available, but should be possible with a short script, which executes `shutdown`.

[2021-12-04 10:02] wishy370 commented on #59
Add a switch to Pin GPIO3 and Ground
to power on, this code works, power off is not working:
dtoverlay=gpio-shutdown,gpio_pin=3,active_low=1,gpio_pull=up

Whit Raspian, the code for shutdown works also....

[2021-12-04 10:13] wishy370 opened #60 "Support for openvpn"
Hi! I don't want to load the photos directly over the internet, but through a VPN tunnel. How can I integrate OVPN in PhotOS?

[](https://www.ovpn.com/de/guides/raspberry-pi-raspbian)

[2021-12-04 10:16] escuco commented on #6
So from my point of view, this issue could be closed. The video support works quite well and with it, there's no longer need for gif support.

[2021-12-04 12:37] pmt272 commented on #59
I know about possibility with PIR and this works very good - sorry, my question was not clear.
The Switch on GPIO3 is working great for me to power on, but the possibility to shutdown would be great to.

[2021-12-04 12:44] wishy370 commented on #59
same for me...
why is there a difference between raspian and photOS?

[2021-12-04 19:58] avanc commented on #59
First of all, as the root partition is mounted read-only, a sudden power-off does not harm much. My parents did it for a few months every evening and the SD-Card was never corrupted.

However, I agree that a normal shutdown would be better. I'm going to investigate how _gpio-shutdown_ is working. I would guess that Raspbian is somehow listening to that event and is triggering the shutdown. So it i

[2021-12-04 20:32] avanc commented on #59
I found it: The solution depends on systemd:
https://github.com/raspberrypi/linux/blob/a1d0f808d4a0b7f7053095cd4ab97a4276bed9ff/arch/arm/boot/dts/overlays/README#L1184

But there is also a hint for other systems...

[2021-12-04 20:53] avanc commented on #60
OpenVPN is available as package in buildroot: https://github.com/buildroot/buildroot/tree/master/package/openvpn

You could give try to build an image with OpenVPN:
* https://github.com/avanc/photOS/wiki/Building-an-Image
* Before step 2 do:
  *  ./build.sh <board_name> menuconfig
  * And select openvpn as additional package.

[2021-12-04 20:56] avanc commented on #6
That's true.

[2021-12-04 20:56] #6 closed

[2021-12-05 13:07] b3nsk0 opened #61 "Removal of pictures when webdav server is offline"
Hi,
it seems that if the webdav server is offline, all local pictures were removed. Is it possible to change this behavior so that pictures were only synchronized (removed/changed) when the webdav server is online?

[2021-12-05 20:33] avanc commented on #61
Hm, photOS should check if webdav is mounted before initiating the sync:
https://github.com/avanc/photOS/blob/66e42b553b47b78b6254827ae251c1df50ace44f/package/photoframe/photoframe.sh#L85-L95

So I'm not quite sure what happens in your case. Can you give me some additional information to investigate further? Was the server not reachable or down?

[2021-12-05 20:39] avanc commented on #38
I'm not able to investigate further, as I don't have MacOS.
Would be great to get additional feedback, if the problem still exist for you and others.

To everyone: Please vote with thumbs down if you faced the same problem, thumbs up if you didn't had problems in combination with MacOS.

[2021-12-05 20:49] avanc commented on #51
<Face Palm> Forgot this change in the last release.

[2021-12-05 21:08] b3nsk0 commented on #61
of course. I'm hosting the server on my synology nas and when the server is down, all synced pictures were removed, when I turn the server on the synchronization starts and after downloading everything is normal again.

[2021-12-07 10:57] chrgachrga opened #63 "manually control slide show"
Hi,
i saw the new feature in 0.3.6 of manually controlling the slide show with physical buttons via GPIO.
Is there documentation on that? The buttons are very interesting.
In addition I am using ioBroker for home automation quite a bit.
I would be interested in understanding the technical implementation to be able to control the slide show also via the home automation, to (for example) implement a

[2021-12-09 15:55] avanc opened #64 "Control slideshow remotely"
It should be possible to control the slideshow (e.g. next/previous image, start/pause slideshow) remotely.
A solution similar to https://github.com/avanc/photOS/wiki/Home-Automation would be desirable.

[2021-12-09 15:58] avanc commented on #63
Regarding your second question I created the following ticket: https://github.com/avanc/photOS/issues/64

Unfortunately, this needs some architectural changes which I would plan for 2.0, which includes a rewrite of the shell scripts to Python.

[2021-12-09 16:02] avanc commented on #61
Thanks, I could reproduce the problem. I'm still investigating...

[2021-12-09 16:09] chrgachrga commented on #63
ok, thanks.
I see what you are saying: the next/prev is directly linked to the GPIO and no API call is in-between for now!?
That limits the options for external access.
Would a batch script work that simulates the GPIO change? I could then try to run the script from remote!?

[2021-12-09 16:14] avanc commented on #61
mount.davfs: connection timed out two times;
    trying one last time
    mount.davfs: server temporarily unreachable;
    mounting anyway

Why the hell is davfs "mounting anyway" if the server is unreachable?

[2021-12-10 08:06] HirschJunge commented on #51
@avanc unfortunatly the screen is now hanging by my grandparents. I will take some pictures the next time I'm around.

[2021-12-10 08:14] HirschJunge commented on #54
Does the Zero W image run on the Zero 2 W? Because it's hard to get an Zero W.

[2021-12-10 09:44] avanc commented on #54
Unfortunately not. The Zero 2 is more similar to Raspberry Pi 3. However, that image won't work neither.

[2021-12-10 15:55] supertevran opened #65 "Feature Request - Slideshow Transitions"
Would'nt it be great to introduce a slideshow effect like seen on radioparadise.com? The pictures are constantly moving a little bit and there is a kind of transition effect of one to the next picture included as well. Just check it out. http://www.radioparadise.com

[2021-12-10 19:48] avanc commented on #54
@HirschJunge I just released a prerelease with RPi Zero2 support:
https://github.com/avanc/photOS/releases/tag/v0.3.7-rc1
You have to flash the RPi3 image. It works on my board without any problems.

Note: I forgot to update the version number. So after installation it will still say it is v0.3.6 instead of v0.3.7-rc1.

[2021-12-11 09:53] mro63 opened #66 "Feature Request - IR and Power Switch"
First of all, I really like this project and think it is one of the greatest tools to create a digital photo frame available.
Yet I would like to propose some new features and, if possible, would like to help implementing them if possible.

**Background**
To share some light on to why I want these features: I want to make a standalone device for my grandparents to be able to see the shared photos

[2021-12-11 11:44] avanc commented on #66
Do you want the Raspberry Pi  to receive or send IR commands?
If you want to send IR commands to switch the source of the TV, you might be able to use CEC directly. You can test if the TV already supports CEC: https://github.com/avanc/photOS/wiki/FAQ#how-do-i-turn-a-cec-compatible-tv-onoff

Regarding turning RPi off, I'm still struggling how to get the KEY_POWER event in this OS.
https://github.co

[2021-12-11 15:53] Schrigga commented on #63
The raspberry pi has internal resistors (1.8kOhm) which needs to be enabled. I have used additional resistors (10kOhm).

[2021-12-14 15:23] chrgachrga opened #67 "manual buttons not working"
Hi,
I was checking on the new feature for physical buttons. My conf looks as follows:
GPIO_PIN_NEXT=5
GPIO_PIN_PREVIOUS=6
GPIO_PIN_PLAY=0
GPIO_ACTION_VALUE=0
SLIDESHOW_DELAY=10

If I now add a button between 3.3v and GPIO 5 or 6, nothing happens.
I am on a raspberry pi 2.
Setup is done according to this:
https://www.elektronik-kompendium.de/sites/raspberry-pi/2110081.htm

Can you confirm that the

[2021-12-17 07:03] universalappfactory commented on #67
Hi,

I have prettry the same config and it works for me with a rasperry pi zero. Have you set GPIO_ACTION_VALUE according to your setup (pullup or pulldown resistor)?

And you may check this output in your console:
cat /sys/class/gpio/gpio6/value

there you should see if the button is pressed or not (press the button and run the command)

[2021-12-17 07:08] universalappfactory commented on #67
Ah and I think there is an error in the is_gpio_pressed function.

if [ "$(cat /sys/class/gpio/gpio${GPIO_PIN_NEXT}/value)" -eq "${GPIO_ACTION_VALUE}" ]

should be

if [ "$(cat /sys/class/gpio/gpio${1}/value)" -eq "${GPIO_ACTION_VALUE}" ]

I think.

[2021-12-17 07:13] universalappfactory commented on #65
I'm not sure if this is possible with fbv which shows the pictures.
But I played a bit with https://www.raylib.com/ maybe this an appropriate  library

[2021-12-17 11:28] avanc commented on #67
@universalappfactory Thanks for pointing that out.

[2021-12-17 14:15] JSAnyone opened #68 "WLAN USB Adapter"
Hi,
Are WLAN USB Adapters like the famous [Edimax](https://www.reichelt.de/wlan-adapter-usb-150-mbit-s-edi-ew-7811un-v2-p293505.html?PROVID=2788&gclid=CjwKCAiAh_GNBhAHEiwAjOh3ZNRfchBbr-xRQyeZme72hhR_becVgLjn6Tv2rfI-r5MGT0ZNK3iP9RoCIrAQAvD_BwE&&r=1) supported?
They are easy to use on Debian, but it looks like it isn't that easy on buildroot:
- https://www.grappendorf.net/tutorials/nerves-pizero-edi

[2021-12-19 13:51] JSAnyone commented on #68
I tried some things out and realized that it is already possible without compiling a new image:

1. Flash the image and add wifi credentials like usually
2. Boot your Raspberry Pi with a ethernet connection
2. Start a SSH connection to the Raspberry Pi
3. Log in with user `root` and empty password
4. Remount filesystem: Type `mount -o rw,remount /`
5. Open modules file: Type `vi /etc/modules`
6. E

[2021-12-27 13:38] #67 closed

[2021-12-27 13:40] avanc commented on #67
@chrgachrga I fixed the issue emntioned by @universalappfactory. However, I#M not sure if this is your issue, as _something_ should happen also with the bug. Please reopen with additional information if needed.

[2021-12-30 12:36] avanc commented on #54
Now available in release 0.3.7

[2021-12-30 12:36] #54 closed

[2021-12-30 12:44] avanc opened #69 "Handle root access"
Currently, the device is not secured with a password.

I see two options to handle this:
1. Create initial root password and first boot and show it in boot screen.
   * Secure against purely remote attacks, but still no security if the attacker gets access to the device.
2. Deactivate ssh completely and add option in WebUI to activate it.
  * In this case, the WebUI should also be password protect

[2021-12-30 13:20] avanc commented on #68
Reminder to myself to add this to the wiki. I didn't knew it as well :-)

[2021-12-30 13:24] avanc commented on #65
It's a challenge. Until now I avoided hardware acceleration like OpenGL to keep it simple (and I don't have any experience ;-) ).

[2022-01-07 18:45] cs301cs301 opened #72 "Feature Request - fbi"
Is there a way to add fbi as package? Because fbi has a blend-effect option.

[2022-01-07 19:14] cs301cs301 commented on #61
What's about rclone, maybe a better way?

[2022-01-12 12:11] cs301cs301 opened #73 "different Wi-Fi networks - Documentation"
If you need more Wi-Fi networks, then add `priority=xx` to the `wpa_supplicant.conf`. Highest priority is choosen first.

[code]

I use this config.
SSID1 is my smartphone hotspot, SSID2 is the standard WIFI of the end user and SSID3 my network at home.
If i need to change some settings, then you can start your hotspot, and connect to the photoframe, after power off/on.

[2022-01-12 12:34] cs301cs301 opened #74 "Prefer using Pi Zero 1 w than Pi Zero 2 w - recommendation"
If you have the choice of using a Pi Zero 1 W or Pi Zero 2 W, go for the Pi Zero 1 W.
The problem is the wifi. The Pi Zero 2 generates an interference signal when output via the HDMI, which causes the WiFi to collapse.
This occurs from FullHD resolution 60 Hz. The Pi Zero 1 also has the problem, but the wifi still works with FullHD.

[https://elinux.org/RPi_Configuration](https://elinux.org/RPi_Co

[2022-01-12 12:41] cs301cs301 opened #75 "show pictures during sync?"
Is it possible to display the first images during the sync process? I have 1057 images on the share and the sync process had to be completed before the images were displayed - took very long. The whole time "no pictures" was displayed.

[2022-01-12 13:19] avanc commented on #73
Very interesting, I didn't knew it. Thanks for the hint!
I updated the wiki: https://github.com/avanc/photOS/wiki/Wifi

[2022-01-12 13:19] #73 closed, assigned to nobody

[2022-01-12 14:39] cs301cs301 opened #76 "Idea - remote_settings.txt on cloud"
For example, if you do not have access to the photo frame, but only to the cloud storage. Cable providers usually do not assign public IPs and you cannot access the device remotely via SSH.
PhotOS checks every perhaps 5 minutes whether the `remote_settings.txt` file is on the cloud and then changes the parameters accordingly. E.g. shuffle, screen on/off times, ...

[2022-01-12 14:44] cs301cs301 opened #77 ""sync pictures" picture - enhancement"
As in my case the sync process took very long >1h, it would be nice, if there is instead of "no pictures" picture a "sync pictures - please wait" picture, when the sync process is started.

[2022-01-12 18:33] cs301cs301 commented on #69
Option 2 seems to be the best. And in the case that you cannot access the device via SSH connection due to a non-public IP (cable internet), add the functionality of remote_settings.txt via the cloud. ;-)

[2022-01-12 18:37] cs301cs301 commented on #65
Couldn't `fbi` be the solution here? It supports blend. [http://manpages.ubuntu.com/manpages/bionic/man1/fbi.1.html](http://manpages.ubuntu.com/manpages/bionic/man1/fbi.1.html)

[2022-01-12 18:43] cs301cs301 commented on #53
you have to chmod the cert file
`-rw-r--r-- 1 root root 1.7K Nov 6 11:53 webdav_cert.pem `

then it works.

[2022-01-13 17:44] cs301cs301 opened #78 "Downloads from server, the whole day - Problem"
I have a problem with webdav. It seems, that the images are loaded from the server every minute every day. Although the files are available locally.

shortened webdav protocoll of my Synolgy NAS, IP is anonymized..

[code]

There is an error message displayed too:
`Mounting https://x.x.x.x:5006/photoframe/ failed: mount.davfs: http://x.x.x.x:5006/photoframe is already mounted on /data/photoframe/i

[2022-01-13 21:41] avanc commented on #78
While diving into rclone, I noticed that webdav normally does not provide mtime (time of last modification): https://rclone.org/webdav/#modified-time-and-hashes
Although, Nextcloud does support it, it might be not supported by davfs2. Thus, rsync might fall back to checksum comparison of files, where it has to read the whole file just to see that remote and local don't differ.

[2022-01-13 21:46] avanc commented on #78
Hm, my initial thoughts is probably wrong. The checksum thing has to be activated manually:
https://en.wikipedia.org/wiki/Rsync#Determining_which_files_to_send

In addition, I checked how long the sync takes on my side if no changes are available (1.7GB images and videos in total):  less than 4 seconds

[2022-01-14 13:12] cs301cs301 commented on #78
I have cleared the log and this is the time for a complete sync / checksum run.
13.01.22 20:13:17 first picture to
14.01.22 00:07:59 last picture

1066 files, 2.46 GB
No idea why it takes so long.

My speed ist UP 6154 kbit/s, this means 53m17s
I have to play with rsync settings, no need for checksum etc., filename would be enough.

Maybe i misunterstood this `--checksum`, i need it to transfer le

[2022-01-14 15:21] cs301cs301 commented on #78
I have to quit here. Display is back at home and the problem is a sum of dying wifi, panic reboot and sync time. Zero 1 dies with FHD resolution too. Have to wait for the wifi dongle.
Pls close or remove this issue.

[2022-01-14 18:41] cs301cs301 commented on #78
I do parallel testing with different rsync params, `rsync -vt --size-only` at moment, and it works fine.

In addition, I noticed that the NTP service was not activated on the NAS. On the Pi it is activated. Maybe that's the reason for the endless sync.

[2022-01-14 18:44] cs301cs301 commented on #78
Only 4 seconds? Are your data stored on a public cloud or on a private server? If so, what's your upload speed? Or is that the sync time with server in LAN?

[2022-01-14 19:00] avanc commented on #78
Checksum is used to really make sure, that the files are the same. Think of the case where a file was changed, but the size is still the same and the modify time was not changed.
The problem with checksum is, that rsync calculates the checksum on the device. To calculate the checksum, the file has to be transferred completely.

[2022-01-14 19:07] avanc commented on #78
Nextcloud on a remote virtual server and photoframe connected via WiFi. But as said, no new files on the server.
Just comparing mtime and size should not take much time.
`--size-only` sound like a good idea if your webdav server does not support mtime.

[2022-01-15 18:21] cs301cs301 opened #79 "photoframe.sh stop/restart - not found"
[code]

`restart` or `stop` command do not work from terminal.
restart uses stop command, but stop isn't implemented in photoframe.sh

Any other way, than reboot, to stop or restart from command line?

[2022-01-15 19:02] avanc commented on #79
You are right, this is wrong.
However, you can simply stop the service with /etc/init.d/S80photoframe stop

[2022-01-15 21:13] avanc opened #80 "Refactor photoframe.sh"
While adding new functionalities, the main shell script `photoframe.sh` became hard to maintain.
Therefore, my intention is to rewrite it using Python. Expectation is that it will be better maintainable and new functionality (like https://github.com/avanc/photOS/issues/64) easier to integrate.

This ticket shall track the current state:
* webdav (rclone based)
  * [x] Sync
  * [x] sync only suppor

[2022-01-15 21:14] avanc commented on #75
This is a regression bug. Until version 0.3.5 it worked as you described.
Currently, I'm refactoring the code (https://github.com/avanc/photOS/issues/80) where this problem will be fixed.

[2022-01-15 21:18] avanc commented on #72
I'll track the idea in https://github.com/avanc/photOS/issues/65

[2022-01-15 21:18] #72 closed

[2022-01-15 21:22] avanc commented on #63
Closed in favor of https://github.com/avanc/photOS/issues/64

[2022-01-15 21:22] #63 closed

[2022-01-15 21:24] avanc commented on #53
This problem should be gone with rclone (https://github.com/avanc/photOS/issues/80)

[2022-01-15 22:20] cs301cs301 commented on #74
When testing with a WiFi dongle, I noticed that the country settings from wpa_supplicant.conf were not adopted. According to this, channel 1 was used, which is mentioned for the problems with HDMI and dying WLAN. I had to set it with ` iw set reg DE`. Now channel 13 is corectly set. The internal WLAN hasn't died since then either.

[2022-01-16 07:45] avanc commented on #74
Could you paste links of the other discussions as reference. I want to put this hint into the Wiki.

[2022-01-16 12:39] cs301cs301 commented on #74
[https://forums.raspberrypi.com/viewtopic.php?t=247982&sid=55d12dc87af911467cecabd76a58e3ac&start=25#p1585816](https://forums.raspberrypi.com/viewtopic.php?t=247982&sid=55d12dc87af911467cecabd76a58e3ac&start=25#p1585816)

[https://forums.raspberrypi.com/viewtopic.php?t=247982&sid=55d12dc87af911467cecabd76a58e3ac&start=25#p1560446](https://forums.raspberrypi.com/viewtopic.php?t=247982&sid=55d12dc87

[2022-01-19 14:18] cs301cs301 commented on #78
Pi Zero 2W is now connected via an USB/LAN adapter and rsync works with "-vrm --size-only". So I'm closing this topic.

[2022-01-19 14:18] #78 closed, assigned to nobody

[2022-01-31 21:45] LindenerGenie opened #81 "Idea: Introduce new parameter 'start_random' that may be set additionally to shuffle=FALSE."
This should allow to start the replay at a random point but then proceed from there in squence.

[2022-02-03 06:25] stonemaan commented on #60
Hi, I tried it several times, but it failed building on my Mac and on a pi4 - I cannot find a solution.
This is, where I find an error:
`sed -i 's,getenv("CCACHE_DIR"),getenv("BR_CACHE_DIR"),' /Users/xxx/Desktop/photOS/output/raspberrypi/build/host-ccache-3.7.9/src/ccache.c
sed: 1: "/Users/xxx/Deskto ...": bad flag in substitute command: 'O'
make[1]: *** [/Users/xxx/Desktop/photOS/output/raspberry

[2022-02-04 10:27] stonemaan commented on #60
tried again building it on a Pi 4 for a Pi zero - received
`>>> toolchain-external-custom  Configuring
Cannot execute cross-compiler '/home/pi/Desktop/photOS/output/raspberrypi/host/opt/ext-toolchain/arm-bcm2708/arm-linux-gnueabihf/bin/arm-linux-gnueabihf-gcc'
make: *** [package/pkg-generic.mk:259: /home/pi/Desktop/photOS/output/raspberrypi/build/toolchain-external-custom/.stamp_configured] Fehler

[2022-02-04 12:17] avanc commented on #60
I don't have experience with MacOS. Maybe this helps:
https://stackoverflow.com/questions/17534840/sed-throws-bad-flag-in-substitute-command/17535174#comment25502270_17535174

This sounds like a solution:
https://stackoverflow.com/a/20827801
But I don't know how to tell buildroot to use gsed instead of sed...

[2022-02-04 12:31] stonemaan commented on #60
unfortunately no.. but I gave up doing it on Mac.
try to do it on a Pi 4 with Raspbian.. but I unfortunately cannot find a solution for the error mentioned above..
`>>> toolchain-external-custom Configuring Cannot execute cross-compiler '/home/pi/Desktop/photOS/output/raspberrypi/host/opt/ext-toolchain/arm-bcm2708/arm-linux-gnueabihf/bin/arm-linux-gnueabihf-gcc' make: *** [package/pkg-generic.mk:2

[2022-02-07 11:51] tobi-paul-helmut opened #82 "Control with Keyboard and/or Mouse"
Hi,
It would be nice to control the slide show with keyboard and/or mouse at the USB ports of the Raspi. Of course some how limited that users can't mess with the OS.

For the beginning controls like following would be nice:
start/pause slide show
next picture
previous picture

Advanced controls:
switch to thumbnail overview, select picture to display, start slideshow from here

Anyways. A great p

[2022-02-18 16:15] #81 closed, assigned to nobody

[2022-02-18 16:40] avanc commented on #82
The first proposal sounds feasible. I'll take it as enhancement.

The second idea sound also interesting. However, the basics are not available (thumbnails and browsing images) so I don't see there a chance in the mid-term future.

[2022-02-24 19:53] avanc commented on #81
Feature is now available in v0.3.8-rc1

[2022-03-03 12:14] moritzj29 commented on #51
I also see this with the current release, adding `disable_overscan=1` fixes it.

Also the log messages are not in the corner of the screen but shifted inwards so its easily distinguishable from wrong image viewer behaviour/settings.

[2022-03-20 18:16] DerDom opened #83 "photOS on E-reader"
Hey,

would it be possible to run photOS on an e-reader, similar to InkBox on Kobo? I would love the functionality you provide but on a E-Ink device that grandma wouldn't have to charge too often:

https://www.mobileread.com/forums/showthread.php?t=337972

[2022-04-05 11:21] timmmerlan opened #84 "Use open WiFi network"
Hello,
we tried to set up photOS on a RasPi 4 using an open WiFi-Network. We tried leaving the "psk" parameter empty as well as completely removing it, but the Pi didn't connect to the WiFi. What configuration should we use?
Thank you in advance for your help!
Best regards,
Tim

[2022-04-05 11:23] timmmerlan opened #85 "Sync frequency"
Hello,
asking just because interested: How often (and at certain timestamps?) does photOS usually sync with the WebDAV server?
Best regards,
Tim

[2022-04-05 11:25] timmmerlan opened #86 "display timer time zone"
Hello,
which time zone (or the time of which device) is used for the timer to turn on/off the display? We tried to set a timer, but at the set time, nothing happened.
Thank you in advance for your help!
Best regards,
Tim

[2022-04-05 11:54] escuco commented on #84
Hi Tim,

for free wifi networks this settings in wpa_supplicant.conf should work (not tested):

[code]

You'll have to edit the wpa_supplicant.conf by your own, please have a look to point 4.ii from this installation guide:
[https://github.com/avanc/photOS/wiki/Installation](https://github.com/avanc/photOS/wiki/Installation)

Please make sure, that your open (guest) wifi has no extra front page, t

[2022-04-05 11:57] escuco commented on #85
Hi Tim,

the sync is running at startup and then every half hour:
[https://github.com/avanc/photOS/wiki/FAQ#how-are-photos-downloaded](https://github.com/avanc/photOS/wiki/FAQ#how-are-photos-downloaded)

[2022-04-05 12:06] timmmerlan commented on #85
Thank you for the quick answer - sorry for the question, I somehow didn't see that in the FAQs...

[2022-04-05 12:06] #85 closed, assigned to nobody

[2022-04-05 12:09] escuco commented on #86
Hi Tim ;)

You can set the timezone at the photOS configuration page:
[https://github.com/avanc/photOS/wiki/Configuration](https://github.com/avanc/photOS/wiki/Configuration)

[2022-04-05 14:21] timmmerlan commented on #84
Thank you! It seems to connect - somehow. But I get the error (on the TV) "_Mounting /my/directory/ failed: mount.davfs: the server certificate is not yet valid_"
Do you have an idea how I can fix that?

[2022-04-05 14:46] timmmerlan commented on #84
Thank you! It seems to connect - at least I don't get an error on the TV. But I cannot connect from the browser nor from SSH because it cannot find the page. Do you have an idea what that might come from?

[2022-04-05 15:43] escuco commented on #84
That's strange...

Is your client in the same wifi network than the Raspberry?
Can you see the network host entry from your photOS Raspberry in your network router? (something like photos-abcxyz123)

[2022-04-06 15:13] timmmerlan commented on #84
I don't yet have access to the router so I could check, but I am 99% sure I am in the same network - the RasPi wouldn't start without a network connection (it is the only one in the config file) and there is no similar named network the PC could be in

[2022-04-07 09:17] escuco commented on #84
Maybe @avanc has an idea 🤔

[2022-04-07 09:18] escuco commented on #40
@avanc , wenn das in die Doku übernommen wird, könnte das Issue geschlossen werden.

[2022-04-19 09:57] MisterMike commented on #69
I'd vote for option 2, too. I don't know if it would be hard to make the WebUI https ? I'd also vote for a WebUI Setting to customize the frame's (local) URL.

[2022-05-07 15:09] makuris opened #87 "question: Microwave Motion Sensor SKU: CQRSENWB01"
I would love to use a Microwave Motion Sensor instead of PIR for a higher sensibility and since I could hide it behind the wooden frame.

I tried to use the one from CQ Robot. They provide some information on their wiki page:
http://www.cqrobot.wiki/index.php/10.525GHz_Doppler_Effect_Microwave_Motion_Sensor_SKU:_CQRSENWB01[http://www.cqrobot.wiki/index.php/10.525GHz_Doppler_Effect_Microwave_Motion

[2022-07-08 14:32] michkrom commented on #61
Possibly add check of the mount location for any files?

[2022-07-08 14:38] michkrom opened #88 "Feature Request - add static picture folder"
I would like to manually upload the pictures to the frame (say with rsync or scp). This could easly be implemented by adding say image_static directory and combining `find` results from image_local and image_static (I have hacked this in already). This will also solve problem of no images during long rsync.
As a bonus - add 'upload' page to the web interface.

Thanks for the work - this is very go

[2022-07-18 10:51] avanc commented on #88
@michkrom This is a good idea. I'll take this into account for the next release. However, don't expect anything soon due to holiday season.
How do you trigger the "find" run?

[2022-07-18 10:53] avanc commented on #61
This  would mean that you cannot wipe all images remotely. But I agree the impact is smaller than the current situation.

[2022-08-30 08:43] Surfer2010 opened #89 "Raspberry Pi Zero W (v. 1)"
Is it possible, and if, which image should I use, to have this system run on a raspberry pi zero w (first generation)

Thanks für the support, great work you did!!!!

[2022-08-30 08:53] avanc commented on #89
Yes, you can use the Raspberry Pi 1 image:
https://github.com/avanc/photOS/releases/download/v0.3.7/photOS-raspberrypi-0.3.7.img.xz

[2022-08-30 08:53] #89 closed, assigned to nobody

[2022-08-31 10:50] avanc opened #90 "Wireguard Support"

[2022-09-05 19:15] OJBender opened #91 ">> /dev/null"
The issue of rebooting when no network is avail has been known for some time. I am revoking my comment.

[2022-09-09 11:42] #91 closed, assigned to nobody

[2022-09-27 07:43] etreml opened #92 "How to turn picture frame off?"
Is ist okay to simply unplug the device and the OS stays intact or do I need to shutdown the OS via a terminal command?

[2022-09-27 09:37] escuco commented on #92
Because the boot and root partition are mounted read-only, normally it's no problem to unplug the raspberry without a shutdown.

Alternative it's possible to only switch the hdmi display off respectively in power saving mode via the web ui or home automation.
There is even a way to switch the display on and off via motion detection: [https://github.com/avanc/photOS/wiki/Motion-Detection](https://g

[2022-09-27 13:50] avanc commented on #92
As @escuco mentioned, it quite safe to just unplug the device.
If you want to shutdown it safely, you can use the WebUI instead of an terminal command:
![image](https://user-images.githubusercontent.com/2905029/192544597-302ec1c0-17a1-4dc5-b688-07400b40b29c.png)

[2022-10-24 19:09] tzockt commented on #90
Hi,
I have tested their trial version of Wireguard.
It worked quite well but unfortunately you can't put it into the autostart.
Therefore here are some notes for improvement:

On the one hand you need a start script under `/etc/init.d/` see link https://www.procustodibus.com/blog/2021/06/wireguard-sysv-init-script/
And you need access to the folder `/etc/wireguard` or you manage to change the dire

[2022-10-25 13:53] avanc commented on #90
If you want to change on the target, you have to remount the root partition to get write access

    mount -o remount,rw /

If you want to change the build of the image you can add the file under board/raspberrypi/overlay/etc/init.d/

[2022-10-25 14:05] avanc commented on #90
I would suggest to let Wireguard let search the config in /data/etc/wireguard

    $command up /data/etc/wireguard/conf.conf

according to https://manpages.debian.org/unstable/wireguard-tools/wg-quick.8.en.html

And in the init script you could check if the config file exists and exit otherwise without doing anything similar to https://github.com/avanc/photOS/blob/master/package/samba4/S91smb#L3

[2022-10-26 14:44] faixk opened #93 "Slideshow Delay WebUI problem"
Hi,
at first, great work.
I use version 0.3.7 and want to set the slideshow delay, but there are no changes and the pictures change in less than 1 second.
It doesn't matter if I put the delaytime on 5 or 20 seconds, nothing changes.
What am I doing wrong? The rest in the WebUI works well.
--
In my idea of usage I will also just show one picture a day, which I send via email to my webdav. Works per

[2022-11-05 17:57] Sebo95 opened #94 "Question, WEBDAV OneDrive"
Hy,
i can#t config. my OneDrive-Folder with photoOS. Do you try dis before ?

[2022-11-29 17:28] gklank opened #95 "Space key in Webdav URL"
Hi,

great stuff, impressive!!!

But, my family members are no IT guys, just using it as end user.

Therefore the picture- and video-names includes at least "space key/letter" in foldername and/or picture-name.
German "Umlaute" would be the second wish/question...

Is there any possibility how to get "space key/letter" into the Webdav URL?

Regards

Gerhard